[Unit]
Description=UK Met Office MCP Server
After=network.target

[Service]
User=sdmeers
EnvironmentFile=/etc/weather_mcp.env
Type=forking
ExecStart=/home/sdmeers/.local/bin/uv run UK_Met_Office_Site_Specific_Forecast_MCP.py
Restart=always
RestartSec=10
WorkingDirectory=/home/sdmeers/Code/weatherforecast_mcp/

[Install]
WantedBy=multi-user.target
