[Unit]
Description=US MCP Server
After=network.target

[Service]
User=sdmeers
ExecStart=/home/sdmeers/.local/bin/uv run us_mcp_server.py
Type=forking
Restart=always
RestartSec=10
WorkingDirectory=/home/sdmeers/Code/weatherforecast_mcp/

[Install]
WantedBy=multi-user.target
